<div class="container">
	<div class="row">
		<div class="span10 offset1">
			<h2>Launch Brick Labs is a boutique web development shop oriented towards small business.  <br>
			We work with you to create a winning web design and a smart workflow for your online goals..  <br>
			We launch brick & mortar businesses into the online world.</h2>
		</div>
	</div>
	



	<div class="row">
		<div class="span12">
			<h2>Marc Cantwell, Partner</h2>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<%= image_tag "http://placehold.it/300x200", class:"thumbnail" %>
			<p>Marc brings a breadth of experience from consulting with Smith Barney, Mercer HR, MicroSoft, as well as from running his own small business.  Marc helps discover the way you run your business, and the goals you have for your online presence.</p>
		</div>
		<div class="span8">
			<div class="pull-right"><%= image_tag "http://placehold.it/500x300", class:"thumbnail" %></div>
		</div>
	</div>




	<div class="row">
		<div class="span12">
			<hr>
			<h2>Mark Hurwitz, Partner</h2>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<%= image_tag "http://placehold.it/300x200", class:"thumbnail" %>
			<p>Mark has worked with web technology both on the back-end and front-end.  His experience spans the gap between technical and design skills.  He helps implement the tools and designs you specify.</p> 
		</div>
		<div class="span8">
			<div class="pull-right"><%= image_tag "http://placehold.it/500x300", class:"thumbnail" %></div>
		</div>
	</div>




	</div><!-- end row-->
</div><!-- end container -->
