<div class="container">
	<div class="row">
		<div class="span10 offset1">
			<h2>Launch Brick Labs is a boutique web development shop oriented towards small business.  <br>
			We work with you to create a winning web design and a smart workflow for your online goals..  <br>
			We launch brick & mortar businesses into the online world.</h2>
		</div>
	</div>
	


<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Marc Cantwell, Partner</h2>
		</div>
	</div>
	<div class="row">
		<div class="span6">
	<p>Marc Cantwell is a seasoned technology expert and business strategist. Whether it is
high-finance, job- shop manufacturing, or retail sales Marc's experience spans all silos.
After graduating from Pomona College with a double major in Philosophy and Classical
Studies, he went on to work for Smith Barney where he helped small business owners
implement retirement plans and protect their assets.</p>

<p>Marc moved to Mercer Consulting, a global leader in business consulting, where he was
responsible for leading the development of performance management systems and
career models for Fender Guitar, Oregon Health Sciences University Foundation, and
Microsoft. Marc regularly interfaced with the investment committees and board
members of the west’s largest companies in addition to portfolio managers from around
the world.</p>

<p>During his time at Mercer, Marc independently conceived, developed and successfully
launched a national technology initiative to streamline quarterly performance reporting.
As a result, the firm was able to eliminate multiple redundancies and improve quality
and timeliness of reports, resulting in higher analyst retention and better client relations.</p>

<p>Marc's experience isn't limited to working on super-sized projects for multi-nationals, he
also owned and operated a building material supply company so he could spend more
time with his family. He turned that experience into <a href="http://www.incflow.com">IncFlow</a>
a customer self-service portal for brick and mortar companies.</p>

<p>Marc is a regular contractor for Microsoft Office where he builds templates (e.g.
newsletters, calendars, invoices) for publication on office.com. Most recently Marc
updated templates for the next release of Microsoft Office, Office15.

<p>Locally, Marc volunteers his web administration talents to Bainbridge Performing Arts
where he enjoys acting in show every once and a while.</p>

		</div>
		<div class="span6">
			<div class="pull-right"><%= image_tag "http://placehold.it/400x250", class:"thumbnail" %></div>
		</div>
	</div>




	<div class="row">
		<div class="span12">
			<hr>
			<h2>Mark Hurwitz, Partner</h2>
		</div>
	</div>
	<div class="row">
		<div class="span6">
<p>Mark Hurwitz is an experienced technophile and educator.  He owns and operates Web Guitar Tutor (www.webguitartutor.com), a completely online guitar instruction studio.  He has built this business from scratch, completing all the web design, marketing, and servicing of clients by himself.  This business has been a treasure to him and his students since 2008.</p>

<p>Mark graduated from Pomona College with a degree in Philosophy.  After college, he chose to hike across the country, become an ordained buddhist monk, and have two kids.  In his career at Rinzai-ji, an international Zen Buddhist organization, duties were to facilitate group retreats and oversee business operations.  In this capacity, he developed marketing and promotional materials for the Summer Seminar in Buddhism, a 30 year old academic tradition hosted by Rinzai-ji.</p>

<p>Mark later joined Marc Cantwell to help at Chinook Materials, which was Cantwell’s own building material supply company.  Mark created more than $10M in sales leads by navigating databases and online services.  In particular, Mark helped overhaul the company’s pre-qualification process and, in so doing, helped pave the way for <a href="http://www.incflow.com">IncFlow</a>, a customer self-service portal he co-founded.</p>  

<p>Mark is a student of modern web technologies.  His projects have included front-page web design, back-end Ruby on Rails development, marketing, SEO and content production.  He strives for proficiency in the wide array of skills required for building successful online businesses.</p>

<p>After a day of building code, writing content and teaching guitar lessons, Mark likes to cook dinner for his family and watch Yo Gabba Gabba with his kids.</p>
		</div>
		<div class="span6">
			<div class="pull-right"><%= image_tag "http://placehold.it/400x250", class:"thumbnail" %></div>
		</div>
	</div>


	</div><!-- end row-->
</div>
</div><!-- end container -->
