<h2>Request a quote</h2>
<p>Form goes here</p>

<form class="well">
	

	<h2>Web Design</h2>
	<label>Do you need web design?</label>
	 <label class="radio">
	    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	    Yes
	  </label>
	  <label class="radio">
	    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	    No
	  </label>


  <label>Tell us about what you have right now</label>
  <label class="checkbox">
		<input type="checkbox">We have a website that we want to upgrade</label>


	<label>What is the address for your current website?</label>
	<input type="text" class="span3" placeholder="www.google.com">


	<label class="checkbox">
		<input type="checkbox">We have no website.  But we want one!</label>


	<label>What are your requirements?</label>
	<textarea class="input-xlarge" rows="3" id="requirements"></textarea>


	<label class="checkbox">
		<input type="checkbox">I prefer booty</label>
	



	<h2>Marketing</h2>
	<label>Do you need help marketing your online business?</label>
		<label class="radio">
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Yes
    </label>
    <label class="radio">
     <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        No
    </label>
    

	<h2>Business Analysis</h2>

	<h2>Monthly Service</h2>



<button type="submit" class="btn">Get my quote!</button>
</form>