	<div class="hero-unit">
		<h1>We do you good!</h1>
	</div>


<div class="container">
	<div class="row">
		<div class="span4">
			<h2>We start with a phone call</h2>
			<p>This is our discovery phase, where you tell us about your business.</p>
			<p>Tell us what your current technology is like.  And tell us what your vision is for your business, why you think your current setup isn't working</p>
			<p>You will see how well we investigate your situation and drill down to the core issues at stake.</p>

			<h2>Draft proposal</h2>
			<p>After our call, we put together a proposal for your review.  We highlight your concerns, and format them in the context of a series of projects.</p>
			<p>You can see in our proposal that our attention to detail and our ability to communicate produces clear, easy-to-follow steps.  And what about our prices?</p>
			<p>Our prices are competitive.  We charge per project, and our projects are kept simple and to the point.  Everyone knows whats on the table, and all the bang you get for your buck.</p>

			<h2>Discussion</h2>
			<p>Tell us what you liked and what you didn't.  Our first proposal is a draft, and we value precision and openness in our communication.  Let's get a deal that you love.</p>

			<h2>Final proposal</h2>
			<p>Everything documented, available for your review, with detailed pricing and deadlines.  Accept, and we get started.</p>

			<h2>Stay in touch!</h2>
			<p>We are committed to our clients, so after we finish up, we offer generous support option, like 4 weeks of live chat, in addition to other support options.</p>
			<p>And who knows? As your business grows, you will continue to find more ways to increase your online presence and more tools to connect with your customers.  Los Dos Marcos is here for you, whenever you need us.</p>

		</div>


	</div><!-- end row-->
</div><!-- end container -->
