<div class="row">
	<div class="span12">
		<h1 class="subpage">Big Header Graphic and Text</h1>
	</div>
</div>



<div class="container">
	<div class="row">
		


		<div class="span6">
			

			<h2>Web Design</h2>
			<div class=""><%= image_tag "http://placehold.it/400x250", class:"thumbnail" %></div>
			<p>Have you thanked your web designer recently?  Or did they leave you uninspired?  It's a constantly evolving trade with vast complexities, not unlike constructing an office building with plumbing, electrical, and good parking.</p>

			<p>Do you know about all the possible tools your web designer needs to understand to deliver your product?</p>

			<p>Tools like programming languages, visual and typographic design, domain hosts, SSL and security measures, e-commerce platfroms, CRMs, CMS... There's a lot going into the typical website that you might not have realized.</p>

			<p>Launch Brick Labs offers full service web development, so please talk to us about your project.  You will see that there is even more that we can do beyond the typical web design project.</p>
		</div>

		<div class="span6">
			<h2>Online Marketing</h2>
			<div class=""><%= image_tag "http://placehold.it/400x250", class:"thumbnail" %></div>
			<p>You might have competitors who still post their latest promotions on the local lightpost, or in the laundromat.  Those time-honored traditions aren't <em>your</em> channels, however.</p>
			<p>If you've gotten this far, you know how much opportunity exists to spread the word about your great products and services. But, online marketing can be confusing.</p>
			<p>In fact, online marketing is a group of concepts and tools that you can learn like anything else. We translate geek speak into business to-dos.</p>

			<p>There's a lot to learn, but with Launch Brick Labs at your back, you can go step-by-step into the world of SEO, social media, advertising, and more.  Sound interesting?</p>

			<p>There are literally dozens of simple, tested channels to market your business. More than Facebook, twitter or your company blog.  Have you considered these?</p>
			<ul class="unstyled">
				<li>Webinars</li>
				<li>Keyword specific blogging</li>
				<li>Guest blogging</li>
				<li>Short product videos</li>
				<li>Interviews</li>
				<li>Affiliate partners</li>
				<li>Tweet for Deals</li>
				<li>More ideas you've never heard of!</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<h2>Business Technology</h2>
			<div class=""><%= image_tag "http://placehold.it/400x250", class:"thumbnail" %></div>
			<p>Launch Brick Labs loves piecing together web-based technology to create efficient, sustainable platforms for your business.  Did you know how many tools are available right now that could propell your business to new heights?</p>
			<p>Tools exist for every facet of brick & mortar business.  We are ready to implement tools to help you:</p>
			<ul class="unstyled">
				<li>Achieve amazing customer service</li>
				<li>Simplify your accounting and invoicing</li>
				<li>Promote yourself to a huge audience</li>
				<li>Track tons of new leads</li>
				<li>Communicate in ways your customers will love</li>
				<li>Help your employees gain new super-powers</li>
			</ul>
		</div>
		<div class="span6">
		</div>
	</div>


		<div class="span8">
			<h2></h2>
			<p></p>
		</div>



	</div><!-- row -->
</div><!-- container -->