<div class="row">
	<div class="span12 blurb">
		<h1 class="subpage">Big Header Graphic and Text</h1>
	</div>
</div>



<div class="container"><!-- copy for services -->
	<div class="row">
		<div class="span6">
			

			<h2>Web Design</h2>
			<p>The beginning of your online business. A cost-effective upgrade to your existing website.  </p>

			<p>Launch Brick Labs creates easy to use websites.  We focus on converting users.</p> 

			<p>Your website is an important part of your business.  For some people, their website *is* there business.  If you run a brick & mortar business, your website can have hundreds of uses. </p>
		</div>

		<div class="span6">
			HOWDY!
		</div>
	</div> <!-- end row -->


	<div class="row">
		<div class="span6">
			<h2>Online Marketing</h2>
			<p>Online marketing is a journey through a desert, or a jungle, and depending on what you sell, the crowds might ignore you while the qualified customer cannot find you.  You have to know where you are before you start, which is why Launch Brick Labs takes into account current measures of your online presence before suggesting any specific marketing plans.</p>

			<p>Once you know where you are, you need to set awesome goals.   Goals that attend to your weaknesses, rely on your strengths, and get results that hit your bottom line.  Goal setting is a crucial aspect of our online marketing consulting.</p>

			<p>To get where you need to go, we give you step-by-step instructions for marketing initiatives that you can hand to your internal staff, or leave with us to execute for you. </p>
			<ul class="unstyled">
				<li><h3>Sample Plans</h3></li>
				<li>Webinars</li>
				<li>Keyword specific blogging</li>
				<li>Guest blogging</li>
				<li>Short product videos</li>
				<li>Interviews</li>
				<li>Affiliate partners</li>
				<li>Tweet for Deals</li>
				<li>More ideas you've never heard of!</li>
			</ul>
		</div>

		<div class="span6">
			HOWDY!
		</div>

	</div><!-- end row -->




	<div class="row">
		<div class="span6">
			<h2>Analysis</h2>
			<p>You know the numbers you know.  But do you know the numbers you don’t know?  There are two types of numbers that modern businesses can use that they previously could not.  </p>

			<p>1)  Deep accounting numbers.  This is the data buried in your books that you can now mine with the help of the current generation of accounting tools.</p>

			<p>2)  Online analytics.  The world has changed.  You don’t only count who walks in your doors. You count who visits your website.  Today, you can track what they click, how long they stay, and what they had in their shopping cart when they abondened it. </p>

			<p>Previously, you didn’t have either the money or the tools to monitor these numbers.  Today, you can easily afford to keep maniacal attention on the most specific trends.   </p>

			<p>We offer a unique and comprehensive analytic service, drawing upon financial and online metrics.  </p>

			<p>You get a concise appraisal of your business, and numbers that will help you get a super-clear vision of how things in your business are really going.</p>

		</div>

	
		<div class="span6">
			HI!
		</div>



	</div><!-- end row -->


	</div><!-- end copy for services -->

