<div class="well" style="margin-top:20px;">
	<h2><em>so what you, what you, what you, want?</em></h2>
	<p>We hate talking about website, blogs, social media.  That's not what you want.  You want to save money and increase sales.</p>
	<p>Los Dos Marcos speak geek and business, databases and P&Ls, functions and credit-lines.  We believe that technology is at the heart of every enterprise.  It is the science of your industry.  We can help guide, harness, and automate your business to unlock efficiencies, profits, and growth you haven't exprienced before.  We don't do it with a beautiful website design and a good twitter handle, we do it by understanding your business, your processes, and ultimately who you are.</p>
</div>

<div class="row" style="padding-top:20px">
	<div class="span12">
		<ul class="thumbnails">
		  <li class="span3">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/angelsquare.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/bpa.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/byobeast.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/incflow.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		</ul>
	</div>
</div>