
<h1>Los Dos Marcos</h1>
<h6>Technology - Business - Design</h6>

<div class="row" style="padding-top:20px">
	<div class="span12">
		<ul class="thumbnails">
		  <li class="span3">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/angelsquare.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/bpa.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/byobeast.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <%= image_tag "screenshots/carousel/incflow.jpg" %>
		      <h5>Thumbnail label</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		</ul>
	</div>
</div>