/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


#landing { 
	background: url(/assets/mainbg.png) top center no-repeat
}
header {
	height:250px;
}

p {
	font-size: 16px;
	line-height: 22px;
}

h1 { 
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400; 
}

#port-thmbs {
	padding-top:20px;
	background-color:whiteSmoke;
}

footer {
	background-color: #bfbfbf;

}

h1.fontface {font: 18px/27px 'OrbitronMedium', Arial, sans-serif;letter-spacing: 0;}

p.style1 {font: 18px/27px 'OrbitronLight', Arial, sans-serif;}
p.style2 {font: 18px/27px 'OrbitronMedium', Arial, sans-serif;}
p.style3 {font: 18px/27px 'OrbitronBold', Arial, sans-serif;}
p.style4 {font: 18px/27px 'OrbitronBlack', Arial, sans-serif;}
