body { 
	background: url("/assets/cloudystars.png") top center no-repeat,
	url("/assets/lightbg.png");
}

header {
	height:400px;



p {
	font-size: 16px;
	line-height: 22px;
}

h1, h2 { 
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400; 
}

#port-thmbs {
	padding-top:20px;
	background-color:whiteSmoke;
}

footer {
	background-color: #bfbfbf;
}