#homepage { 

	.test-paragraph {
		color:red;
		font-family: 'Orbitron', sans-serif;
	}
	
	.bigger-test{
	color: green;
	font-size: 72px;
	}
	
 	.blurb {
 		text-align: center;
 		padding-top: 40px;
 		padding-bottom: 40px;	
 
	  h1 {
	 			font-size: 5em;
	 			color: #fff;
 		}
	}

	.testimonial {
		padding-top:100px;

		blockquote {

			p {
				font-size: 2em;
				line-height: 1.2em;
			}
		}
	}

	.mini-portfolio {
		padding-top:20px;

		h2{
			text-align:center;padding-bottom:20px;
		}
	}

	.main-content {
		margin-top:20px;
	}




 }



