#test-paragraph {
  color: red; }

.bigger-test {
  font-size: 72px; }

#landing {
  background: url(/assets/mainbg.png) top center no-repeat; }

p {
  font-size: 16px;
  line-height: 22px; }

p.style1 {
  font: 18px/27px "OrbitronLight", Arial, sans-serif; }

p.style2 {
  font: 18px/27px "OrbitronMedium", Arial, sans-serif; }

p.style3 {
  font: 18px/27px "OrbitronBold", Arial, sans-serif; }

p.style4 {
  font: 18px/27px "OrbitronBlack", Arial, sans-serif; }

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400; }

h1.fontface {
  font: 18px/27px "OrbitronMedium", Arial, sans-serif;
  letter-spacing: 0; }
